# temp_debugging_notebook

In [1]:
from codex import Tableau

In [2]:
xlswb = '/home/pieter/projects/codex/tests/codex_test_data_wtw_incl_scenarios_DEBUGGING.xlsx'
tab = Tableau(xlswb, nsimuls=3)

Reading data ...
tbl_deelnemer
tbl_assumptie
tbl_regeling
tbl_aanspraak
OK

Reading lookup tables ...
lookup_prijsinflatie
lookup_salarisstijging
lookup_indexatie
lookup_rente
lookup_lifecycle
lookup_rendement_aandelen
lookup_rendement_obligaties
lookup_tar_at_pensionage
lookup_nqx
lookup_tarief
OK

In [3]:
tab.data.lookup_tar_at_pensionage

                                                          tar
pensioenlfd geslacht aanspraak_id leeftijd simulnr
68          M        OPLL         22       1        19.059001
                                  23       1        18.999295
                                  24       1        18.938997
                                  25       1        18.878102
                                  26       1        18.816604
                                  27       1        18.754501
                                  28       1        18.691786
                                  29       1        18.628455
                                  30       1        19.281600
                                  31       1        18.499929
                                  32       1        18.434725
                                  33       1        18.368887
                                  34       1        18.302412
                                  35       1        18.235295
                                  36       1        18.167532
                                  37       1        18.099118
                                  38       1        18.030051
                                  39       1        17.960325
                                  40       1        17.889937
                                  41       1        17.818884
                                  42       1        17.747161
                                  43       1        17.674765
                                  44       1        17.601692
                                  45       1        17.654300
                                  46       1        17.453504
                                  47       1        17.378381
                                  48       1        17.302570
                                  49       1        17.226066
                                  50       1        17.148866
                                  51       1        17.070970
...                                                       ...
            F        NPLLRS       39       1         1.602793
                                  40       1         1.612850
                                  41       1         1.622872
                                  42       1         1.632855
                                  43       1         1.642796
                                  44       1         1.652689
                                  45       1         1.601840
                                  46       1         1.672314
                                  47       1         1.682037
                                  48       1         1.691694
                                  49       1         1.701280
                                  50       1         1.710789
                                  51       1         1.720217
                                  52       1         1.729558
                                  53       1         1.738807
                                  54       1         1.747958
                                  55       1         1.757005
                                  56       1         1.765943
                                  57       1         1.774766
                                  58       1         1.783468
                                  59       1         1.792042
                                  60       1         1.636680
                                  61       1         1.808784
                                  62       1         1.816938
                                  63       1         1.824940
                                  64       1         1.832782
                                  65       1         1.840457
                                  66       1         1.847960
                                  67       1         1.855283
                                  68       1         1.862418

[188 rows x 1 columns]

In [3]:
tab.tableau.shape

(144, 80)

In [12]:
tab.tableau.simulnr.unique()

array([1, 2, 3])

In [15]:
summary = tab.add_summary()
summary.to_csv('/home/pieter/Desktop/summary.csv')

In [18]:
tab.tableau

,id,regeling_id,aanspraak,BOY,simulnr,naam,geboortedatum,geslacht,datum_in_dienst,ft_salaris,...,opbouw,backservice,tijdsevenredig,verzekerd,pct_staffel,discount_varl,cum_discount,capital,eur_premie,eur_backservice
0,9,1,NPLLRS,1,1,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,773.400117,0,773.400117,6187.2,0.000000,0.000000,0.000000,0.000000,2906.67,0
1,9,1,NPLLRS,2,1,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,808.203122,11.601,1581.603239,6361.22,0.000000,0.000000,0.000000,0.000000,3017.53,43.9446
2,9,1,NPLLRS,3,1,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,844.224233,23.724,2425.827472,6528.33,0.000000,0.000000,0.000000,0.000000,3129.63,90.4906
3,9,1,NPLLRS,4,1,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,881.502602,36.3874,3307.330074,6687.79,0.000000,0.000000,0.000000,0.000000,3242.28,139.6
4,9,1,NPLLRS,5,1,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,920.078596,49.61,4227.408670,6838.81,0.000000,0.000000,0.000000,0.000000,3354.61,191.187
5,9,1,NPLLRS,6,1,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,959.993835,63.4111,5187.402505,6980.57,0.000000,0.000000,0.000000,0.000000,3465.38,245.09
6,9,1,NPLLRS,7,1,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,1001.291223,77.811,6188.693728,7112.17,0.000000,0.000000,0.000000,0.000000,3573.13,301.066
7,9,1,NPLLRS,8,1,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,1044.014997,92.8304,7232.708726,7232.71,0.000000,0.000000,0.000000,0.000000,3675.66,358.725
8,9,1,NPLLRS,1,2,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,773.400117,0,773.400117,6187.2,0.000000,0.000000,0.000000,0.000000,2906.67,0
9,9,1,NPLLRS,2,2,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,808.203122,11.601,1581.603239,6361.22,0.000000,0.000000,0.000000,0.000000,3017.53,43.9446
10,9,1,NPLLRS,3,2,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,844.224233,23.724,2425.827472,6528.33,0.000000,0.000000,0.000000,0.000000,3129.63,90.4906
11,9,1,NPLLRS,4,2,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,881.502602,36.3874,3307.330074,6687.79,0.000000,0.000000,0.000000,0.000000,3242.28,139.6
12,9,1,NPLLRS,5,2,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,920.078596,49.61,4227.408670,6838.81,0.000000,0.000000,0.000000,0.000000,3354.61,191.187
13,9,1,NPLLRS,6,2,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,959.993835,63.4111,5187.402505,6980.57,0.000000,0.000000,0.000000,0.000000,3465.38,245.09
14,9,1,NPLLRS,7,2,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,1001.291223,77.811,6188.693728,7112.17,0.000000,0.000000,0.000000,0.000000,3573.13,301.066
15,9,1,NPLLRS,8,2,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,1044.014997,92.8304,7232.708726,7232.71,0.000000,0.000000,0.000000,0.000000,3675.66,358.725
16,9,1,NPLLRS,1,3,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,773.400117,0,773.400117,6187.2,0.000000,0.000000,0.000000,0.000000,2906.67,0
17,9,1,NPLLRS,2,3,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,808.203122,11.601,1581.603239,6361.22,0.000000,0.000000,0.000000,0.000000,3017.53,43.9446
18,9,1,NPLLRS,3,3,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,844.224233,23.724,2425.827472,6528.33,0.000000,0.000000,0.000000,0.000000,3129.63,90.4906
19,9,1,NPLLRS,4,3,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,881.502602,36.3874,3307.330074,6687.79,0.000000,0.000000,0.000000,0.000000,3242.28,139.6
20,9,1,NPLLRS,5,3,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,920.078596,49.61,4227.408670,6838.81,0.000000,0.000000,0.000000,0.000000,3354.61,191.187
21,9,1,NPLLRS,6,3,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,959.993835,63.4111,5187.402505,6980.57,0.000000,0.000000,0.000000,0.000000,3465.38,245.09
22,9,1,NPLLRS,7,3,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,1001.291223,77.811,6188.693728,7112.17,0.000000,0.000000,0.000000,0.000000,3573.13,301.066
23,9,1,NPLLRS,8,3,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,1044.014997,92.8304,7232.708726,7232.71,0.000000,0.000000,0.000000,0.000000,3675.66,358.725
24,9,1,OPLL,1,1,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,1104.876622,0,1104.876622,8839.01,0.000000,0.000000,0.000000,0.000000,14395.1,0
25,9,1,OPLL,2,1,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,1154.596071,16.5731,2259.472693,9087.61,0.000000,0.000000,0.000000,0.000000,15241,221.956
26,9,1,OPLL,3,1,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,1206.055699,33.8921,3465.528392,9326.35,0.000000,0.000000,0.000000,0.000000,16140.6,466.691
27,9,1,OPLL,4,1,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,1259.311443,51.9829,4724.839835,9554.15,0.000000,0.000000,0.000000,0.000000,17098.4,736.193
28,9,1,OPLL,5,1,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,1314.420970,70.8726,6039.260805,9769.91,0.000000,0.000000,0.000000,0.000000,18119,1032.64
29,9,1,OPLL,6,1,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,1371.443736,90.5889,7410.704541,9972.41,0.000000,0.000000,0.000000,0.000000,19207.2,1358.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,9,3,NPTL-O,3,3,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,0.000000,0,0.000000,4076.86,0.000000,0.000000,0.000000,0.000000,0,0
115,9,3,NPTL-O,4,3,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,0.000000,0,0.000000,3359.33,0.000000,0.000000,0.000000,0.000000,0,0
116,9,3,NPTL-O,5,3,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,0.000000,0,0.000000,2595.08,0.000000,0.000000,0.000000,0.000000,0,0
117,9,3,NPTL-O,6,3,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,0.000000,0,0.000000,1781.96,0.000000,0.000000,0.000000,0.000000,0,0
118,9,3,NPTL-O,7,3,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,0.000000,0,0.000000,917.708,0.000000,0.000000,0.000000,0.000000,0,0
119,9,3,NPTL-O,8,3,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,0.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0
120,9,3,VARL,1,1,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,0.000000,0,0.000000,0,0.292284,19365.475173,19365.475173,21072.353044,19365.5,0
121,9,3,VARL,2,1,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,0.000000,0,0.000000,0,0.292284,18330.761483,37696.236656,39871.440333,19946.4,0
122,9,3,VARL,3,1,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,0.000000,0,0.000000,0,0.292284,19424.000380,57120.237036,59332.786171,20544.8,0
123,9,3,VARL,4,1,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,0.000000,0,0.000000,0,0.292284,20372.066742,77492.303778,79250.213976,21161.2,0
124,9,3,VARL,5,1,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,0.000000,0,0.000000,0,0.292284,21312.538723,98804.842500,105505.891948,21796,0
125,9,3,VARL,6,1,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,0.000000,0,0.000000,0,0.320436,23048.998402,121853.840902,134933.749699,24612.2,0
126,9,3,VARL,7,1,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,0.000000,0,0.000000,0,0.320436,22893.194570,144747.035472,155021.509377,25350.6,0
127,9,3,VARL,8,1,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,0.000000,0,0.000000,0,0.320436,24380.505563,169127.541035,179034.871681,26111.1,0
128,9,3,VARL,1,2,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,0.000000,0,0.000000,0,0.292284,19365.475173,19365.475173,20543.312078,19365.5,0
129,9,3,VARL,2,2,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,0.000000,0,0.000000,0,0.292284,18802.823814,38168.298987,39388.518929,19946.4,0
130,9,3,VARL,3,2,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,0.000000,0,0.000000,0,0.292284,19908.372669,58076.671656,60681.881221,20544.8,0
131,9,3,VARL,4,2,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,0.000000,0,0.000000,0,0.292284,20252.680668,78329.352324,82797.886592,21161.2,0
132,9,3,VARL,5,2,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,0.000000,0,0.000000,0,0.292284,20619.699914,98949.052238,95002.160277,21796,0
133,9,3,VARL,6,2,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,0.000000,0,0.000000,0,0.320436,25634.727121,124583.779360,116751.275048,24612.2,0
134,9,3,VARL,7,2,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,0.000000,0,0.000000,0,0.320436,27051.268489,151635.047849,136627.110032,25350.6,0
135,9,3,VARL,8,2,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,0.000000,0,0.000000,0,0.320436,28979.287326,180614.335175,169999.641103,26111.1,0
136,9,3,VARL,1,3,maatmens_C3,1959-01-01,M,2019-01-01,80000.000000,...,0.000000,0,0.000000,0,0.292284,19365.475173,19365.475173,17078.649928,19365.5,0
137,9,3,VARL,2,3,maatmens_C3,1959-01-01,M,2019-01-01,82400.000000,...,0.000000,0,0.000000,0,0.292284,22617.260683,41982.735857,37912.580699,19946.4,0
138,9,3,VARL,3,3,maatmens_C3,1959-01-01,M,2019-01-01,84872.000000,...,0.000000,0,0.000000,0,0.292284,22750.450242,64733.186098,71754.470614,20544.8,0
139,9,3,VARL,4,3,maatmens_C3,1959-01-01,M,2019-01-01,87418.160000,...,0.000000,0,0.000000,0,0.292284,19090.524050,83823.710148,93935.334912,21161.2,0
140,9,3,VARL,5,3,maatmens_C3,1959-01-01,M,2019-01-01,90040.704800,...,0.000000,0,0.000000,0,0.292284,19449.791400,103273.501549,120812.046364,21796,0
141,9,3,VARL,6,3,maatmens_C3,1959-01-01,M,2019-01-01,92741.925944,...,0.000000,0,0.000000,0,0.320436,21039.199056,124312.700605,143330.745370,24612.2,0
142,9,3,VARL,7,3,maatmens_C3,1959-01-01,M,2019-01-01,95524.183722,...,0.000000,0,0.000000,0,0.320436,21986.895262,146299.595867,183528.216506,25350.6,0
143,9,3,VARL,8,3,maatmens_C3,1959-01-01,M,2019-01-01,98389.909234,...,0.000000,0,0.000000,0,0.320436,20814.465958,167114.061825,228662.740921,26111.1,0

In [24]:
tab.tableau[(tab.tableau.fsy == 1)][['regeling_id', 'simulnr', 'aanspraak', 'tijdsevenredig', 'capital']]

     regeling_id  simulnr aanspraak  tijdsevenredig        capital
7              1        1    NPLLRS     7232.708726       0.000000
15             1        2    NPLLRS     7232.708726       0.000000
23             1        3    NPLLRS     7232.708726       0.000000
31             1        1      OPLL    10332.621644       0.000000
39             1        2      OPLL    10332.621644       0.000000
47             1        3      OPLL    10332.621644       0.000000
55             2        1    NPTL-O        0.000000       0.000000
63             2        2    NPTL-O        0.000000       0.000000
71             2        3    NPTL-O        0.000000       0.000000
79             2        1      VARL        0.000000   17155.874173
87             2        2      VARL        0.000000   16311.820121
95             2        3      VARL        0.000000   21884.256371
103            3        1    NPTL-O        0.000000       0.000000
111            3        2    NPTL-O        0.000000       0.000000
119            3        3    NPTL-O        0.000000       0.000000
127            3        1      VARL        0.000000  179034.871681
135            3        2      VARL        0.000000  169999.641103
143            3        3      VARL        0.000000  228662.740921

In [ ]:
summary.columns

In [ ]:
summ = summary[summary.simulnr==2001][['tar_OPLL', 'tar_NPLLRS', 'capital', 'projectie_op']]

In [ ]:
summ.to_csv('/home/pieter/Desktop/summary.csv')

In [ ]:
summ.index

In [ ]:

summ.reset_index().sort_values(['simulnr', 'id', 'regeling_id'], inplace=True)

summ = summ[summary.simulnr.isin([123, 1500, 2001])]

In [ ]:
summary.reset_index(inplace=True)

In [ ]:
summary.ft_salaris.unique()

In [ ]:
summ.to_csv('/home/pieter/Desktop/summary.csv')

In [ ]:
summary.simulnr_cpy

In [ ]:
summary[['simulnr', 'projectie_op']]

In [ ]:
sum(tableau.id == 8)
tableau.leeftijd[0]

In [ ]:
filtered = tableau[(tableau.fsy==1) & (tableau.aanspraak.isin(['OPLL', 'VARL', 'NPLLRS']))].copy()

In [ ]:
tar_at_pd = tab.data.lookup_tar_at_pensionage

In [ ]:
tab.data.lookup_tar_at_pensionage.index.get_level_values('simulnr').max()

In [ ]:
filtered['simulnr_cpy'] = filtered.simulnr

In [ ]:
filtered['simulnr'] = 1

In [ ]:
tab.add_summary()

In [ ]:
filtered = filtered.join(tar_at_pd, on=['pensioenlfd', 'geslacht',
                                                'aanspraak', 'leeftijd0',
                                                'simulnr_cpy'])

In [ ]:
filtered['tar'] = filtered.tar.fillna(1)

In [ ]:
filtered.shape

In [ ]:
grouped = filtered.groupby(['regeling_id', 'id', 'simulnr'])

In [ ]:
summary.to_csv('/home/pieter/Desktop/summary.csv')

In [ ]:
import pandas as pd
s = pd.Series(range(1, 12, 2))
s.isin([5, 9])

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.randn(10,4), columns=list('abcd'))
df.index.name = 'aap'

In [ ]:
tab.data.lookup_tar_at_pensionage